*::before,
*::after,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}
:root {
  --primary-Green: #c5f82a;

  --neutral-White: #ffffff;
  --neutral-Grey: #333333;
  --neutral-Dark-Grey: #1f1f1f;
  --neutral-Off-Black: #141414;

  --ff: "Inter", sans-serif;
  --fs-body: 0.875rem;
  --fs-heading: 1.7rem;
  --fw-400: 400;
  --fw-600: 600;
  --fw-700: 700;
}

body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  font-family: var(--ff);
  font-weight: var(--fw-400);
  font-size: var(--fs-body);
  text-align: center;
  color: var(--neutral-White);
  background: var(--neutral-Off-Black);
}

.container {
  padding: 1.75rem;
  background-color: var(--neutral-Dark-Grey);
  border-radius: 0.6rem;
}

img {
  display: block;
  border-radius: 50%;
  max-width: 100%;
  width: 6em;
  margin-bottom: 1.5rem;
  margin-inline: auto;
}

.name {
  line-height: 1.1;
  font-size: var(--fs-heading);
  font-weight: var(--fw-500);
  margin-bottom: 0.5rem;
}

.location {
  color: var(--primary-Green);
  font-weight: var(--fw-600);
  margin: 0.5rem 0 1.5rem;
}

.desc {
  font-size: 0.8rem;
  font-weight: 200;
  margin-inline: 1rem;
}

.links {
  margin-top: 1.6rem;
}
.links * + * {
  margin-top: 0.8rem;
}
.list-item {
  display: block;
  width: 100%;
  background-color: var(--neutral-Grey);
  color: var(--neutral-White);
  padding: 0.7rem;
  border-radius: 0.4rem;
}

.list-item:hover {
  background-color: var(--primary-Green);
  color: var(--neutral-Off-Black);
}
